

/*GLOBAL*/

.align-right
{
  text-align: right!important;
}
.bold
{
  font-weight: 600;
}
.color-blue
{
  color: #0078D7;
  font-weight: 600;
}
.align-left
{
  text-align: left!important;
}
/*home*/
.top-nav-container
{
  border-bottom: 1px solid #FEFE02;
  padding: 20px 200px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  background-color:#0063B1;
}
.left-nav-content img
{
  width: 100%;
}
.left-nav-content
{
  position:relative;
}
.right-nav-content
{
  display: flex;
}
.title-top
{
  margin:auto;
  -ms-filter: drop-shadow(10px -3px 4px #1D1A33);
-webkit-filter: drop-shadow(10px -3px 4px #1D1A33);
-moz-filter: drop-shadow(10px -3px 4px #1D1A33);
-o-filter: drop-shadow(10px -3px 4px #1D1A33);
filter: drop-shadow(10px -3px 4px #1D1A33);
}
.title-top h1
{
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
}
@media (max-width:850px)
{
  .top-nav-container
  {
    padding: 20px 100px;
  }
}
@media (max-width:600px) {
  .top-nav-container
  {
    padding:20px 50px;
  }
}
.body-container
{
min-height: 100vh;
}
.new-search-container
{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #e4e4e4;
  padding: 0px 30px;
}
.new-item
{

  flex:1;
  display: flex;

}
.empty-left
{
  flex:3;
  display: flex;
}
.empty-left-btn > ul > li h1
{
  background: #0063B1;
  padding:10px;
  color: #fff;
  display: flex;
  justify-content: space-between;

}
.empty-left-btn > ul > li:hover ul
{
  display: block;
}
.empty-left-btn > ul > li
{
  width:160px;
}
.empty-left-btn
{
  font-family: helvetica;
  font-size: 16px;
}
.empty-left-btn >ul
{
  display: flex;
}
.empty-left-btn ul li
{
  padding:10px;
}
.dropping
{
  width: 100%;
  display: none;
  background: #0063B1;

}
.dropping a
{
  text-decoration: none;
  color: #2A2D37;
}
.dropping li
{
  color: #fff;
}
.dropping li:hover
{
  background: #004276;
  transition: background .5s;
}
.dropping-parent
{
   position: relative;
   margin-top: 20px;

}
.create-rr-btn a
{
  text-decoration: none;
  color: #fff;
}

.search-box
{
  flex:1;
  margin:auto;
  margin-right:160px;
}
.search-box form
{
  display: flex;
}
.search-box input
{
  padding: 3px 6px;
  height: 22px;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 15px;
  outline: none;
  border-style:none;
  border:1px solid #0063B1;
}
.search-box button
{
  outline: none;
  height: 30px;
  color: #0063B1;
  background: #fff;
  border-style: none;
  padding: 3px 6px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  background:#0063B1;

}
.search-box button:hover
{
  background: #5597CB;
}
@media (max-width:800px) {
  .empty-left
  {
    flex:1;
  }
  .search-box input
  {
    width: 150px;
  }
}
@media (max-width:500px) {
  .empty-left
  {
    flex:none;
  }
}
/*footer*/
.simple-footer h1
{
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  margin: auto;
}
.simple-footer
{
  height: 70px;
  background: #0063B1;
  display: flex;
  border-top: 1px solid #FEFE02;
}
.background-pic
{
  height:400px;
  width:1000px;
  margin-bottom: 20px;
  margin:0 auto;
  background-image:url('/DesignIMG/truck.jpg');
  background-position:100px -130px;
  background-repeat: no-repeat;
  z-index:4!important;
}
.data-results-container
{
  padding: 0px 40px 60px 40px;
  margin-top: 50px;
  overflow-x: auto;

}
.data-results-containertable th
{
  font-family:sans-serif;
  font-size: 20px;
}
.data-results-container table {
    border-collapse: collapse;
}

.latest-data table, .latest-data th, .latest-data td
{
    border: 1px solid #5597CB;
    padding: 10px 20px;
}
.data-results-container table
{
  width: 100%;

}
.latest-data th
{
  font-family: helvetica;
  font-size: 17px;
  font-weight: 600;
  background: #0063B1;
  color: #fff;
}
.data-results-container td
{
  color: #383B44;
  font-size: 14px;
  font-family:lato;
  text-align: center;
}
.history-found th
{
  font-family: helvetica;
  font-size: 17px;
  font-weight: 600;
  background: #e4e4e4;
  color:#484343;
}
.history-found table, .history-found th, .history-found td {
    border: 1px solid #858181;
    padding: 10px 20px;
}
.history-found
{
  margin-top: 60px;
}
.history-found h1
{
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  color: #2A2D37;
}
@media (max-width:900px) {
  .data-results-container
  {
    padding:0px 20px;
  }
}
/*add or take*/
.search-welcome-title
{
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;

}
.Current-title
{
  display: flex;
  flex:1;
  font-family: sans-serif;
  font-size: 20px;
  color: #2A2D37;
}
.Current-title h1
{
margin:auto;
}

/*add-new-item modal*/
.add-new-modal
{
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  top:0;
  right: -200%;
  display: flex;
  transition: right .5s;
  z-index: 6;
  overflow-y: auto;
}
.add-new-modal.active
{
  right:0;
}
.new-modal-box
{
  margin:auto;
  width: 600px;
  min-height:700px;;
  background-color:#fff;
}

.new-modal-title
{
  height: 80px;
  width: 100%;
  background-color:#0063B1;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  color: #fff;

}
.new-modal-title h1
{
  margin: auto;
}
.form-new-item td input[type="number"]
{
  width: 200px;
}
.form-new-item table tr
{
    display: flex;
    float: left;
    margin-bottom: 20px;
}
.form-new-item th
{
  width: 300px;
  font-family: lato;
  float: left;
  margin: auto;
}
.form-new-item,.form-new-item table
{
  width: 100%;
  height:100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.add-new-item-form
{
  height: 400px;
}

.form-new-item input
{
  height: 20px;
  width: 200px;
}
.form-new-item select
{
  height: 25px;
  color:#2A2D37;
  font-weight: 600;
  font-family: lato;
  outline: none;
}
.form-new-item textarea
{
  height: 100px;
  width: 200px;
  resize: none;
}
.submit-bottons-newitem-container
{
  display: flex;
}
.submit-bottons-new
{
  flex:3;

}
#cancel-btn
{
  border-style: none;
  padding: 8px 20px;
  background:#808080;
  color:#fff;
  width: 80px;
}
#go-create
{
  background: #0063B1;
  color: #fff;
  border-style: none;
  padding: 8px 20px;
  width: 80px;
}
.submit-bottons-new button
{
  padding:6px 12px;
}
.empty-submit
{
  flex:3;
}
/*MAKE MIRS*/
.mirs-container h1
{
  text-align: center;
  font-family: helvetica;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
  color:#0063B1;
}
.mirs-container
{
    height: 100vh;
}
/*MODAL FOR ALL NOTICE*/
.modal-for-all-notice
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 16;
  display: none;
}
.modal-for-all-notice.active
{
  display: block;
  display: flex;

}
.center-notice-div
{
  margin:auto;
  background: #fff;
  width:300px;
  border-radius: 10px;

}
.center-notice-div ul li
{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
}
.notice-title
{
  background: #0063B1;
  color:#fff;
  display: flex;
  justify-content:space-between;
  padding:10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
}
/*MCT CSS*/
.MCT-CONTAINER
{
  min-height: 100vh;
  display: flex;
}
@media (max-width:1250px)
{
  .MCT-CONTAINER
  {
    flex-direction: column;
  }
}
.MCTform-container
{
  flex:1;
  padding:80px 30px;
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  background:#0063B1;
  -ms-filter: drop-shadow(-2px 1px 5px #1D1A33);
-webkit-filter: drop-shadow(-2px 1px 5px #1D1A33);
-moz-filter: drop-shadow(-2px 1px 5px #1D1A33);
-o-filter: drop-shadow(-2px 1px 5px #1D1A33);
filter: drop-shadow(-2px 1px 5px #1D1A33);
}
.MCTform-container form
{
  flex:1;
}
.MCTform-container .instructions
{
  flex:2;
}
.MCTform-container form ul
{
  display: flex;
  flex-direction: column;

}
.gm-label
{
  font-family: courier;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.gm-name
{
  font-size: 20px;
  font-family:courier;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 100px;
  padding-bottom: 20px;
}
#go-btn
{
  background: #004276;
  color: #fff;

}
#go-btn:hover
{
background-color:#002C4E;
}
.submitMCT-btn button
{
  margin-right: 10px;
  border-style: none;
  padding:8px 16px;
  font-family: sans-serif;
}
.submitMCT-btn
{
  display: flex;
  justify-content: flex-start;
  margin:0 auto;
}
.MCTform-container form ul li select
{
  width:100%;
   height: 30px;
   margin-bottom: 10px;
   padding-left: 5px;
   font-size: 15px;
   color: #2A2D37;
}
.MCTform-container form ul li input
{
width:98%;
 height: 30px;
 margin-bottom: 10px;
 padding-left: 5px;
 font-size: 15px;
 color: #2A2D37;
}
.Search-item-container
{
  padding: 30px;
  flex:3;
}

@media (max-width:500px) {
  .Search-item-container
  {
    padding: 10px;
  }

}
.Added-Items
{
  display: flex;
  overflow-x:auto;
  flex-direction: column;
}
.added-table-wrapper
{
  min-height:595px;
  min-width:905px;
}
.added-table-wrapper table
{
  margin:auto;
  width: 100%;
  background: #fff;
  border: 1px solid #002847;
  -ms-filter: drop-shadow(-2px 1px 5px #1D1A33);
-webkit-filter: drop-shadow(-2px 1px 5px #1D1A33);
-moz-filter: drop-shadow(-2px 1px 5px #1D1A33);
-o-filter: drop-shadow(-2px 1px 5px #1D1A33);
filter: drop-shadow(-2px 1px 5px #1D1A33);

}
.added-table-wrapper td
{
  text-align: center;
}
.added-table-wrapper tr,.added-table-wrapper th,.added-table-wrapper td
{
  border-bottom: 1px solid #004276;
  padding: 10px 20px;
}

.added-table-wrapper th
{
  background: #0078D7;
  color: #fff;
  font-family: sans-serif;
  border: 1px solid #004276;
}
.added-table-wrapper td
{
  font-family: sans-serif;
  font-size: 15px;
  color: #2A2D37;
}
.delete-trash i
{
  text-decoration: none;
  font-size: 20px;
  color: #23262E;
}
.delete-trash i:hover
{
  color:#004276;
}
.modal-find-button
{
  display: flex;
  justify-content: flex-end;

}
.modal-find-button button
{
  background: #00355F;
  border-style: none;
  color: #fff;
  padding: 10px 20px;
  font-size:15px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  transition: background .5s;
}
.modal-find-button button:hover
{
  background: #557894;
}
.modal-search-item
{
  position: fixed;
  background:rgba(0, 0, 0, 0.9);
  height: 100vh;
  top:0;
  width: 100%;
  display: none;
  overflow-x: auto;

}
.modal-search-item.active
{
  display: block;
  display: flex;
  z-index: 15;

}
.middle-modal-search
{
  margin:auto;
  width: 1000px;
  background: #fff;
  border-radius: 5px;
  padding: 20px 20px 50px 20px;
  position: relative;
}
.middle-modal-search h5
{
  position: absolute;
  background: #e3e3e3;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  right: -10px;
  top: -10px;

}
.search-item-bar
{
  display: flex;
  justify-content: space-between;
}
.search-item-bar form
{
  display: flex;
  justify-content: flex-end;
}
.search-item-bar form input
{
  padding: 5px;
}
.modal-search-results
{
  height: 100%;
}
.modal-search-results table
{
  width:100%;
  margin-top: 20px;
  overflow-y: auto;
  margin-top:20px;
}
.modal-search-results table
{
  border: 1px solid #5597CB;
}
.modal-search-results table,.modal-search-results tr, .modal-search-results th, .modal-search-results td
{
  border-bottom: 1px solid #5597CB;
  padding: 10px 20px;
  font-family: sans-serif;
}
.modal-search-results td
{
  text-align: center;
  color: #2A2D37;
}
.modal-search-results th
{
  background:#004276;
  color:#fff;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
tr td input[type="number"]
{
  width: 50px;
}

/*MIRS PREVIEW*/
.printable-view-container
{
  display: flex;
  background: #e3e3e3;
  overflow-x: auto;
}
.printable-paper
{
  margin:auto;
  width: 1000px;
}
.bondpaper-size
{
  width: 816px;
  min-height: 1056px;
  margin:0 auto;
  background: #fff;
  margin-bottom: 30px;
}
.status-mirs
{
  position: absolute;
  top: 30px;
  right: 20px;
  font-family:'Comfortaa', cursive;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  color:#fff;
  background: #0063B1;
}
.status-mirs.approved
{
  background: #1D9F60;
}
.status-mirs.declined
{
  background: #DF0000;
}
.status-mirs h1 i
{
  font-size: 25px;
}
.status-mirs h1
{
  margin: auto;
  font-family:'Comfortaa', cursive;
  font-size: 15px;
  font-weight: 200;
}
.top-part-box1
{
  text-align: center;
  padding-top: 30px;
  position: relative;
}

.top-part-box1 h2
{
  margin-top: 25px;
  font-size: 18px;
  text-decoration: underline;
    font-family: sans-serif;
}
.top-part-box1 h1
{
  font-family:sans-serif;
  font-weight: bold;
}
.top-part-box1 h4
{
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.top-part-box2
{
  display: flex;
  margin-top: 20px;
  justify-content:space-between;
}
.top-box2-right
{
  font-family: helvetica;
  font-size: 14px;
  margin-right: 80px;
}

.mirs-id
{
   border:1px solid red;
   padding: 20px;
}
.top-box2-right-data
{
  flex:1;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-bottom: 7px;
}
.top-box2-right-data h1
{
  min-width: 160px;
  padding: 3px 6px;
  border-bottom: 1px solid black;
  font-size: 13px;
}
.top-box2-right-data label
{
  padding: 3px 6px;
  text-align: right;
  width: 100%;
}
.top-part-box3
{
  display: flex;
  justify-content: space-between;
  padding:20px 80px;
}
.top-part-box3 p
{
  font-family: helvetica;
  font-size: 14px;
}
.top-part-box3 h2
{
  width: 240px;
  display: flex;
  font-family: helvetica;
  font-size: 14px;
  font-weight: 600;
}
.purpose-container
{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.mirs-details-container
{
  padding: 20px 80px;
}
.table-mirs-container table
{
  width: 100%;
  font-family: lato;
  border: 1px solid black;
}

.table-mirs-container th
{
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.noborder-left
{
  border-left: none!important;
}
.noborder-right
{
  border-right: none!important;
}

.table-mirs-container td
{
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding:10px 2px;
  font-size: 14px;
}
.table-mirs-container .particular
{
  text-align:left;
}
.statement-container
{
  border-left:1px solid black;
  border-right:1px solid black;
  padding-left: 5px;
}
.statement-container p
{
  font-family:sans-serif;
  font-size: 13px;

}
.request-recommend-sig
{
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
}
.recommend-sig h3
{
  position: absolute;
  bottom:35px;
  width: 150px;
  height: 50px;
  left: -10px;
}
.recommend-sig h3 img
{
  width: 100%;
}
.decliner
{
  color: red!important;
  font-size: 20px!important;
}
.bottom-mirs-part
{
  border-left:1px solid black;
  border-right:1px solid black;
  border-top: 1px solid black;
  padding-top: 15px;
}

.request-sig h2,.recommend-sig h2,.president-sig h2
{
  line-height: 21px;
  font-size: 14px;
}
.request-sig h4,.recommend-sig h4,.president-sig h4
{
  margin-bottom: 40px;
  font-size: 14px;
}
.request-sig h3 img
{
  width: 100%;
}
.request-sig h3
{
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 35px;
  left:-24px;
}
.recommend-sig,.request-sig
{
  text-align: center;
  position: relative;
}
.president-sig
{
  padding-top: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  position: relative;
}
.president-sig h3 img
{
 width: 100%;
}
.president-sig h3
{
  width: 150px;
  height: 50px;
  position:absolute;
  bottom: 35px;
  left: 250px;
}
.print-btn-container
{
  width: 816px;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  padding-top: 15px;
  padding-bottom: 5px;
}
.print-btn-container button
{
  padding: 6px 12px;
}
.print-btn-container .download-form button i
{
  font-size: 20px;
  color: red;
}
.searchMIRSNo
{
  display: flex;
}
.searchMIRSNo input
{
  padding-left: 5px;
}
.searchMIRSNo button i
{
  color: #004276;
}
.print-btn-container h1
{
  font-family: lato;
  font-size: 15px;
  color: #004276;
}
.middle-status
{
  padding: 5px;
  display: flex;
}
#accepted i,#not-accepted i
{
  margin-right: 5px;
}
#accepted
{
  border-style: none;
  background-color:#004276;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  outline: none;
  font-size: 16px;
}
#accepted:hover
{
  background: #002C4E;
  transition:background .5s;
}
#not-accepted
{
  border-style: none;
  background-color:#AA0000;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  padding-left: 20px;
  margin-left:5px;
  outline: none;
  font-size: 16px;
}
#not-accepted:hover
{
  background: #710000;
  transition:background .5s;
}
/*MCT-MODAL*/
.MCT-modal
{
  position:fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  top: -400%;
  transition: top .5s;
}
.MCT-modal.active
{
  top:0;
}
.MCT-form
{
  margin:auto;
  height: 500px;
  width: 500px;
}

.title-mct-form h1
{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
}
.title-mct-form
{
  background: #0063B1;
  height: 100px;
  margin-top: 0;
  padding-top:50px;
  box-sizing: border-box;
}

.form-content-mct form
{
  display: flex;
  flex-direction: column;
}
.receiver-form h3
{
  padding-bottom: 10px;
  width: 300px;
  margin:0 auto;
  margin-top: 10px;
  border-bottom: 1px solid #d1d1d1;
}
.receiver-form
{
  text-align: center;
  font-size: 18px;
  font-family: courier;
  color: #00355F;
}
.form-content-mct
{
  margin-top: 80px;
}
.form-content-mct input
{
  text-align: center;
  font-size: 15px;
  margin:auto;
  height: 30px;
  width: 300px;
  padding-left: 10px;
}
.form-content-mct select
{
  margin:auto;
  height: 30px;
  width: 315px;
  padding-left: 10px;
}
.mct-form-buttons
{
  display: flex;
  justify-content:space-around;
  width: 140px;
  margin:auto;
  margin-top: 20px;
}
.mct-form-buttons button
{
  padding:6px 10px;
  color: #1D1F25;
}
/*button towards MCT-preview*/
.MCT-link-btn button
{
  font-family: helvetica;
  font-size: 14px;
  color: #1D1F25;
}
.MCT-link-btn button i
{
  color: #0063B1;
  font-size: 17px;
}
/*Button to MRT form*/
.Create-MRT-btn form button i
{
  color: green;
  font-size: 17px;
}
.mrt-done
{
  position: relative;
}
.eyesicon
{
  color: #0078D7!important;
}
/*MCT PREVIEW css*/
.Preview-MCT-container
{
  background-color:#e3e3e3;
  padding-bottom: 35px;
  overflow-x: auto;
}

.bondpaper-preview
{
  min-height: 1056px;
  width: 816px;
  margin:0 auto;
  background: #fff;
  margin-bottom: 30px;
  padding: 50px 20px 10px 20px;
  box-sizing: border-box;
}

.print-MCT-wrap
{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin:auto;
  width: 1000px;
}
.print-MCT-wrap button
{
  padding:6px 12px;
  font-family: helvetica;
}
.print-buttonMCT button i
{
  color:red;
  font-size: 20px;
}
.MCT-title h1
{
  padding-top: 10px;
}
.MCT-title
{
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 816px;
  margin: 0 auto;
  margin-bottom: 10px
}
.bond-center-titles
{
  text-align: center;
  font-family: sans-serif;
  position: relative;
}
.bond-center-titles img
{
  width:70px;
  height: 70px;
  position: absolute;
  top:-20px;;
  left: 160px;
}
.bond-center-titles h1
{
  font-size: 16px;
}
.bond-center-titles h5
{
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 14px;
}

.bond-center-titles h2
{
  font-size: 16px;
  font-weight: 600;
}
.MCTMaster-details
{
margin-top: 34px;
display: flex;
 padding: 10px;
 justify-content: space-between;
 font-family:sans-serif;
 font-size: 15px;
 margin-bottom:15px;
}
.MCTmaster-left ul li
{
  display: flex;
  margin-bottom: 5px;
}
.MCTmaster-right ul li
{
  display: flex;
  margin-bottom:3px;
}

.MCTmaster-right ul li label,.MCTmaster-left ul li label
{
  width: 100px;
}
.TicketDetail-table table
{
  width: 100%;

}
.TicketDetail-table th
{
  border:1px solid black;
  padding:1px 2px;
  font-family: helvetica;
  font-size: 13px;
  font-weight: 600;
}
.TicketDetail-table td
{
  text-align: center;
  padding:2px 4px;
  font-family:sans-serif;
  font-size: 12px;
  min-width: 60px;
}
.total-result
{
  font-family:lato;
  font-size: 14px;
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 58px;
}
.total-result h1
{
  border:1px solid black;
  width: 90px;
  padding: 5px;
}
.total-result h2
{
  padding:5px;
  width: 120px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.total-result h2
{
  text-align:right;
}
.total-result h1
{
  text-align: center;
}
.totalcost-mct
{
  margin-top:50px;
  height: 195px;
  position: relative;
}
.totalcost-mct ul li
{
  font-family: lato;
  font-size: 13px;
  display: flex;
  width: 200px;
  padding: 3px 13px;
  justify-content:space-between;
}
.signatures-mct-preview
{
  margin-top: 40px;
  display: flex;
  justify-content:space-between;
  font-family: lato;
}
.issuedby-data
{
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
  font-family: lato;
  margin-bottom:4px;
  font-size: 14px;
  position: relative;
}
.mct-signature-right
{
  width:288px;
}
.recievedby-data
{
  width: 187px;
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 14px;
  position: relative;
}
.recievedby-data h1,.issuedby-data h1
{
  margin-bottom: 8px;
}
.signature-issuedmct
{
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 35px;
  left:5px;
}
.signature-issued
{
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 35px;
  left:0px;
}
.signature-issued img,.signature-recieved img
{
  width:100%;
}
.signature-issuedmct img,.signature-recievedmct img
{
  width:100%;
}
.signature-recievedmct
{
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 30px;
  right: 16px;
}
.signature-recieved
{
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 20px;
  right: 16px;
}
/*PAGINATION*/
.pagination
{
  display: flex;
  list-style: none;
  width: 600px;
  margin:0 auto;
  margin-top: 40px;
  font-family: lato;
}
.pagination li.active
{
  background: #00508F;
  color: #fff;
}
.pagination li a
{
  text-decoration: none;
  color:#00213B;
}
.pagination li
{
  background: #e3e3e3;
  margin:auto;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
}
/*MRT-MODAL-CSS*/
.MRT-container
{
  display: flex;
}
@media(max-width:1100px)
{
  .MRT-container
  {
    flex-direction: column;
  }
}
.MRT-middle-form
{
  background:#0063B1;
  flex:1;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.mrt-form
{
  margin-top: 50px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}
.mrt-form input
{
  padding-left:5px;
  width: 100%;
  height: 32px;
  margin:0 auto;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}
.mrt-btns
{
  margin:auto;
}
.mrt-btns button
{
  padding: 8px 12px;
  border-style: none;
  width: 80px;
  border:1px solid #00508F;
}
.mrt-cancel
{
  color: #00508F;
  background: #e7e7e7;
}
.mrt-gobtn
{
 background: #004276;
 color: #fff;
}
.mrt-gobtn:hover
{
  background:#002847;
}
.List-items-mrt
{
  height: 600px;
  flex:3;
  padding:25px;
  box-sizing: border-box;
}
.items-form
{
 display: flex;
 flex-direction: column;
 flex:1;
}
.box-MRT-qty
{
  flex:1;
}
.items-from-mct table
{
  width: 100%;
  font-family: sans-serif;
  border: 1px solid black;
}
.items-from-mct td
{
  text-align: center;
  padding:6px 12px;
  font-size: 13px;

}
.items-from-mct td i
{
  font-size: 20px!important;
  color: #0078D7;
}
.items-from-mct td i:hover
{
  color: #002847;
}
.items-from-mct th
{
  border:1px solid black;
  padding: 6px 12px;
  font-weight: 600;
  color: #fff;
  background: #0078D7;

}
.pick-from-items
{
  display: flex;
  justify-content:space-between;
}
.pick-from-items h1
{
  font-family: sans-serif;
  font-size: 25x;
  font-weight: 600;
}
.pick-from-items button
{
  padding:6px 12px;
  margin-bottom: 5px;
}
.mrt-items-modal
{

  height: 100vh;
  width: 100%;
  position: fixed;
  top: -300%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  transition: top .5s;
}
.mrt-items-modal.active
{
  top: 0;
}
.mrt-items
{
  min-height: 430px;
  min-width: 800px;
  margin:auto;
  background: #fff;
  padding: 5px;
  position: relative;
}
.mrt-items table
{
  width: 100%;
  font-family: sans-serif;
  border: 1px solid black;
}
.mrt-items th
{
  padding: 6px 12px;
  font-size: 15px;
  border:1px solid black;
  background: #0078D7;
  color:#fff;
}
.mrt-items td
{
  text-align: center;
  padding: 6px 12px;
  font-size: 13px;
  border-bottom: 1px solid black;
}
.mrt-items h1
{
  position: absolute;
  right:-10px;
  top: -10px;
  height: 30px;
  width: 30px;
  border-radius:50%;
  background: #e3e3e3;
  text-align: center;
  padding-top:7px;
  box-sizing: border-box;
  font-size: 14px;
}
.mrt-items h1:hover
{
  background: #AAAAAA;
}
/*MIRS-gridview*/
.search-mirs-container form
{
  display: flex;
}
.search-mirs-container input
{
  padding:6px 12px;
  border: 1px solid #0078D7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}
.search-mirs-container button
{
  outline: none;
  padding:6px 12px;
  border: 1px solid #0078D7;
  background: #0078D7;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}
.search-mirs-container button:hover
{
  background-color: #00508F;
}
.Title-MIRS-Index
{
  font-size: 25px;
  font-family:sans-serif;
}
.table-mirs-list
{
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.table-mirs-list table
{
  background: #fff;
  width: 100%;
  border: 1px solid black;
  font-family: sans-serif;
  -ms-filter: drop-shadow(1px 1px 7px #1D1A33);
-webkit-filter: drop-shadow(1px 1px 7px #1D1A33);
-moz-filter: drop-shadow(1px 1px 7px #1D1A33);
-o-filter: drop-shadow(1px 1px 7px #1D1A33);
filter: drop-shadow(1px 1px 7px #1D1A33);
}
.grid-mirs-container
{
  padding-bottom: 30px;
  min-height:100vh;

}
.table-mirs-list td i
{
  color: #0078D7;
  font-size: 20px;
}

.table-mirs-list td
{
 text-align: center;
 font-size: 17px;
 border: 1px solid black;
 padding:20px 5px;
}
.table-mirs-list th
{
  color: #fff;
  background: #0078D7;
  font-size: 16px;
  font-weight: 600;
  padding:6px 12px;
}
.top-wrap-index-mirs
{
  display: flex;
  justify-content: space-around;
  padding:30px;
}
/*MRT preview*/
.Summary-MRT-Container
{
  min-height: 100vh;
  background: #e4e4e4;
}
.search-mrt-summary
{
  display: flex;
  max-width: 814px;
  padding-top: 20px;
  flex-wrap: wrap;
  margin:0 auto;
  justify-content: space-between;
}
.search-mrt-summary h1
{
 text-align: center;
 font-family: helvetica;
 font-size: 25px;
 color: #002847;
}
.print-mrt-summary button
{
  padding:6px 12px;
  font-family: verdana;
}
.print-mrt-summary button i
{
  color: red;
}
.print-mrt-summary
{
  position: absolute;
  top: -40px;
  left: 0;
}
.searchbox-summary-mrt
{
  display: flex;
}
.searchbox-summary-mrt input
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 6px 12px;
}
.searchbox-summary-mrt input,.searchbox-summary-mrt>button
{
 border: 1px solid #0078D7;
 outline: none;
}
.searchbox-summary-mrt>button
{
  background:#0078D7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.bondpaper-sample-mrt
{
  background: #fff;
  width: 816px;
  min-height:1057px;
  margin:0 auto;
  padding:70px 60px 10px 60px;
  box-sizing: border-box;
  position: relative;
  -ms-filter: drop-shadow(1px 1px 7px #1D1A33);
-webkit-filter: drop-shadow(1px 1px 7px #1D1A33);
-moz-filter: drop-shadow(1px 1px 7px #1D1A33);
-o-filter: drop-shadow(1px 1px 7px #1D1A33);
filter: drop-shadow(1px 1px 7px #1D1A33);
}
.results-summary-mrt
{
  padding-top:50px;
  padding-bottom:50px;
  overflow-x: auto;
}
.header-summary
{
  display: flex;
}
.header-summary-content
{
 margin:auto;
 text-align: center;
 font-size: 14px;
 font-family:verdana;
 position: relative;
}
.header-summary-content h3
{
  margin-bottom: 20px;
}
.header-summary-content h2,.header-summary-content h4
{
  margin-bottom: 3px;
}
.header-summary-content img
{
  width: 75px;
  height: 75px;
  position: absolute;
  left: -80px;
  top:-20px;
}
.body-summary-mrt
{
  padding-top: 50px;
}
.body-summary-mrt table
{
  width: 100%;
  font-family: verdana;
   font-size: 14px;
}
.body-summary-mrt th
{
 border:1px solid black;
 padding:3px 6px;
 font-weight: 600;
}
.body-summary-mrt td
{
  text-align:left;
  padding:3px 6px;
}
.reciever-signature
{
  font-family:verdana;
  margin-top: 100px;
}
.reciever-signature h3
{
  font-size: 13px;
}
.recievers-name h4
{
  font-size: 14px;
  text-decoration:underline;
}
.recievers-name
{
  margin-left:60px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  width: 250px;
  position: relative;
}
.recievers-name h5 img
{
  width: 100%;
}
.recievers-name h5
{
  height: 50px;
  width: 150px;
  position: absolute;
  top:-45px;
  left: 48px;
}
.recievers-name p
{
  font-size: 13px;
}
.no-MRT-summary
{
  font-family: verdana;
  font-size: 30px;
  color: #a1a1a1;
  text-align: center;
  margin-top: 120px;
  font-weight: 600;
}
/*MRT VIEWER*/
.MRT-viewer-container
{
  min-height: 100vh;
  background: #e4e4e4;
  padding-top: 70px;
  padding-bottom: 70px;
}
.Bondpaper-mrt-preview
{
  padding: 60px 25px 10px 25px;
  margin:0 auto;
  height: 1056px;
  width: 816px;
  background: #fff;
}
.header-mrt-center
{
  text-align: center;
  font-family: verdana;
  font-size: 15px;
}
.address-mrt
{
  margin-bottom: 10px;
}
.header-mrt-center h3
{
  font-weight: 600;
}
.left-right-mrt
{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.mrt-info label
{
 width: 100px;
}
.mrt-info
{
  display: flex;
  margin-bottom: 5px;
  font-family: verdana;
  font-size: 14px;
}
.mrt-table-viewer table
{
  width: 100%;
  margin-top: 20px;
  font-family: verdana;
}
.mrt-table-viewer th
{
  text-align: center;
  border:1px solid black;
  font-weight: 600;
  font-size: 14px;
}
.mrt-table-viewer td
{
  text-align: left;
  padding:3px 6px;
  font-size: 13px;
}
.mrt-table-viewer
{
 min-height:360px;
}
.total-mrt-flex
{
  display: flex;
  font-family: verdana;
  font-size: 14px;
}
.total-mrt-flex h3
{
  border:1px solid black;
  padding:3px 6px;
  width: 200px;
  text-align: center;
}
.total-mrt-flex h4
{
  border:1px solid black;
  padding:3px 6px;
  width: 140px;
  text-align: right;
}
.total-mrt-info
{
  display: flex;
  justify-content: flex-end;
}
.mrt-returnby-receivedby-container
{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: verdana;
  font-size: 14px;
}
.mrt-bottom-data{
  text-align: center;
  margin-left: 70px;
  margin-top: 20px;
  position: relative;
}
.mrt-bottom-data h3
{
  position: absolute;
  width: 150px;
  height: 50px;
  top: -60px;
  left: 24px;
}
.mrt-bottom-data h3 img
{
  width: 100%;
}

.summary-mct-container
{
 min-height: 100vh;
 background: #e4e4e4;
 padding-top: 30px;
 padding-bottom: 30px;
}
.landscape-bondpaper-mct
{
  background: #fff;
  height:816px;
  width:1077px;
  margin:0 auto;
  padding: 20px;
  -ms-filter: drop-shadow(1px 1px 7px #1D1A33);
-webkit-filter: drop-shadow(1px 1px 7px #1D1A33);
-moz-filter: drop-shadow(1px 1px 7px #1D1A33);
-o-filter: drop-shadow(1px 1px 7px #1D1A33);
filter: drop-shadow(1px 1px 7px #1D1A33);
}
.top-titles-mctSum
{
  display: flex;
  margin-bottom: 20px;
}
.top-titles-mctSum img
{
  width: 60px;
  height: 60px;
}
.titles-mct-content
{
  font-family:verdana;
  font-size: 14px;
}
.address-mct-summary
{
  margin-bottom: 22px;
}
.mct-summary-table table
{
  width: 100%;
  font-family:verdana;
}
.mct-summary-table th
{
  text-align: center;
  border:1px solid black;
}
.mct-summary-table td
{
  text-align: left;
  padding:3px 6px;
  font-size: 13px;
}
.monthof
{
  text-align: right!important;
  border-right: none!important;
}
.month
{
  text-align: left!important;
  border-left: none!important;
  padding-left: 5px;
}
.MCTSummaryForm
{
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  max-width: 1120px;
  padding-bottom: 10px;
}
.mct-sum-search
{
  display: flex;
}
.mct-sum-search input
{
  border: 1px solid #0078D7;
  padding:5px 12px;
  border-bottom-left-radius: 5px;
  border-top-left-radius:5px;
}
.mct-sum-search button
{
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  background: #0078D7;
  color: #fff;
  border-style: none;
}
.bondpapercontainer-mct
{
  overflow-x: auto;
}
.print-summary-mct-btn i
{
  color: red;
}
.print-summary-mct-btn button
{
  padding:6px 12px;
}
.login-container
{
  min-height: 100vh;
    background: #e4e4e4;
}

.body-login-container
{
  display: flex;
  height: 100vh;
}
.box-form-login h1
{
  font-size: 15px;
  font-weight:600;
  font-family:sans-serif;
  color: #fff;
  text-align: center;
}
.box-form-login
{
  padding: 20px;
  box-sizing: border-box;
  background: #0063B1;
  margin:auto;
  height: 200px;
  width: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -ms-filter: drop-shadow(-4px 3px 20px #1D1A33);
-webkit-filter: drop-shadow(-4px 3px 20px #1D1A33);
-moz-filter: drop-shadow(-4px 3px 20px #1D1A33);
-o-filter: drop-shadow(-4px 3px 20px #1D1A33);
filter: drop-shadow(-4px 3px 20px #1D1A33);
}
.login-form
{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.login-form input
{
  border-radius: 5px;
  padding-left: 5px 10px;
  font-size: 14px;
  width: 220px;
  margin:0 auto;
  margin-bottom: 15px;
  text-align: center;
  height: 20px;
  color: #2A2D37;
}
.login-form button
{
  width: 100px;
  margin:0 auto;
  border-style: none;
  background: #32C24D;
  border-radius: 5px;
  color: #fff;
  padding: 6px 5px;
}
/*REGISTRAION CSS*/
.Registration-container
{
  background: #e4e4e4;
  min-height: 100vh;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.straight-form
{
  display: flex;
  flex-direction: column;
}
#signaturePreview
{
  width: 280px;
  height: 157px;
  min-height: 100px;
}
.image-signature-wrap
{
  width: 293px;
  height: 168px;
  margin:0 auto;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  padding:5px;
  box-sizing: border-box;
}
.registration-form
{
  padding: 30px;
  width: 600px;
  margin:auto;
  min-height: 600px;
  display: flex;
  background-color: #0078D7;
  border-radius: 5px;
  -ms-filter: drop-shadow(1px 1px 8px #000000);
-webkit-filter: drop-shadow(1px 1px 8px #000000);
-moz-filter: drop-shadow(1px 1px 8px #000000);
-o-filter: drop-shadow(1px 1px 8px #000000);
filter: drop-shadow(1px 1px 8px #000000);
}
.registration-form h1
{
  font-size: 25px;
  font-family:verdana;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.form-user-info
{
  position: relative;
  font-size: 16px;
  font-family: verdana;
  margin: auto;
  box-sizing: border-box;
}
.straight-form select
{
  margin:auto;
  width: 300px;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
  margin-bottom: 10px;
  outline: none;
}
.straight-form input
{
margin:auto;
width: 293px;
border-radius: 5px;
height: 32px;
font-size: 15px;
padding-left: 5px;
margin-bottom: 10px;
outline: none;
color: #23262E;
border-style: none;
border:1px solid #A0A0A0;
}
.straight-form input[type="file"]
{
  border:none!important;
}
.straight-form button
{
  letter-spacing: 1px;
  padding:10px 20px;
  font-size: 15px;
  font-family:lato;
  margin: 0 auto;
  border-style: none;
  color: #fff;
  background: #00508F;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}
.straight-form button:hover
{
 background: #00355F;
}
.burger-button:hover
{
  color:#002847;
}
.burger-button
{
  position: absolute;
  left: -100px;
  top: 25px;
  box-sizing: border-box;
  font-size: 25px;
  background: #0063B1;
  outline: none;
}
.left-nav-content button
{
 padding: 20px;

 color: #fff;
 border-style: none;
}
.Account-modal
{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -200%;
  z-index: 16;
  background: rgba(0, 0, 0, 0.7);
  transition: left .5s;

}
.Account-modal.active
{
  left: 0;
}
.middle-account-modal
{
 background: #0063B1;
 height:100vh;
 width: 300px;
 font-family:sans-serif;
 border-bottom-right-radius: 5px;
}
.middle-account-modal > ul >li >i
{
  position: absolute;
  right: 5px;
  top: 0;
}
.middle-account-modal > ul >li >i:hover
{
  color: #F0F04A;
}

.logo-modal
{
 width: 100px;
 margin: 0 auto;
}
.logo-modal img
{
  width: 100%;
}
.middle-account-modal .userinfo
{
  border-bottom: 1px solid #2F80C0;
  position: relative;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding:40px 20px;
  color: #fff;
}
.middle-account-modal ul a
{
  text-decoration: none;
  color: #fff;
}
.middle-account-modal ul a li h1
{
  width:30px;
}
.middle-account-modal ul a li
{
  text-align:left;
  padding: 15px 20px;
  font-size:16px;
  letter-spacing: 1px;
  border-bottom: 1px solid #2F80C0;
}
.middle-account-modal ul a li:hover
{
  background: #004276;
  transition: background .5s;
}
.middle-account-modal ul a li:hover span
{
  color: #fff;
}
.navnotif
{
  width: 100px;
}
.returner-form h3
{
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
  margin-top: 10px;
}

.returner-form
{
  text-align: center;
  font-family: courier;
  font-size: 18px;
  color: #fff;
}
/*Check MIRS request css*/
.MIRS-request-container
{
  min-height: 100vh;
  padding:30px;
}
.mirs-request-table-list
{
  margin-top: 10px;
  overflow-x: auto;
}
.mirs-request-table-list table
{
  width: 100%;
  border: 1px solid #002847;
  font-family:verdana;
}
.mirs-request-table-list th
{
  background: #0078D7;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding:6px 12px;
  font-size: 15px;
}
.mirs-request-table-list td
{
  text-align: center;
  padding:20px 10px;
  font-size: 14px;
  border-bottom: 1px solid #002847;
}
.mirs-request-table-list td i
{
  font-size: 20px;
  color: #0078D7;
}
.mirs-request-table-list td i:hover
{
  color: #002847;
}
.MIRS-request-container h1
{
  font-family: verdana;
  font-size: 20px;
  color: #00355F;
}
.MIRS-request-empty
{
  text-align: center;
  margin-top: 120px;
  font-size: 30px;
  font-weight:600;
  font-family: verdana;
  color: #a1a1a1;
}
/*MCT check request css*/
.mct-request-list-Container
{
  min-height: 100vh;
  padding:35px;
}
.mct-request-table table
{
  width: 100%;
  font-family: verdana;
  border: 1px solid #00355F;
}
.mct-request-table td i
{
  color: #0078D7;
  font-size: 20px;
}
.mct-request-table td i:hover
{
  color:#00355F;
}
.mct-request-table td
{
  text-align: center;
  font-size: 14px;
  padding: 20px 10px;
  border-bottom: 1px solid #00355F;
}
.mct-request-table th
{
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background: #0078D7;
  color: #fff;
  padding: 6px 12px;
}
.mct-request-list-Container h1
{
  color: #00355F;
  font-family: verdana;
  font-size: 20px;
  margin-top: 20px;
}
.mct-request-table
{
  margin-top: 10px;
}
.mct-empty
{
  text-align: center;
  margin-top: 130px;
  font-size: 30px;
  font-family: verdana;
  font-weight: 600;
  color: #a1a1a1;

}
/*MIRS ready for MCT css*/
.MIRS-Ready-Container
{
  min-height: 100vh;
  padding: 35px;
}
.MIRS-Ready-Container table
{
  width: 100%;
  font-family: verdana;
  border: 1px solid #00355F;
}
.MIRS-Ready-Container th
{
  padding:6px 12px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background: #0078D7
}
.MIRS-Ready-Container td i
{
  font-size: 20px;
  color: #0078D7;
}
.MIRS-Ready-Container td
{
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #00355F;
  padding:20px 10px;
}
.no-waitingMIRS
{
  text-align: center;
  font-family: verdana;
  font-size: 25px;
  font-weight: 600;
  margin-top: 180px;
  color: #a1a1a1;
}
/*MAKE RR PAGE CSS*/
.MakeRR-Container
{
 min-height: 100vh;
 padding:30px;
}
.search-orInputNew-buttons
{
  display: flex;
  justify-content: flex-end;
}
.searchRRitem
{
  margin-right: 5px;
}
.search-orInputNew-buttons > .addnon-existing
{
  background:#00355F;
}
.searchRRitem
{
  background: #0078D7;
}

.search-orInputNew-buttons button
{
  padding:8px 17px;
  font-size: 14px;
  color: #fff;
  transition: background .5s;
  border-style: none;
  outline: none;
  border-radius: 5px;
}
.search-orInputNew-buttons button:hover
{
  background: #00355F;
}
.RR-title
{
  font-size: 25px;
  font-family: verdana;
  color:00355F;
  margin-bottom: 10px;
}
.Items-RR-table
{
  flex:3;
  margin-bottom: 20px;
  overflow-x: auto;
}
.Items-RR-table table
{
  font-family: verdana;
  width: 100%;
  border: 1px solid #002847;
  background: #fff;
  -ms-filter: drop-shadow(1px 1px 6px #1D1A33);
-webkit-filter: drop-shadow(1px 1px 6px #1D1A33);
-moz-filter: drop-shadow(1px 1px 6px #1D1A33);
-o-filter: drop-shadow(1px 1px 6px #1D1A33);
filter: drop-shadow(1px 1px 6px #1D1A33);
}
.Items-RR-table th
{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding:6px 12px;
  background: #0078D7;
  color: #fff;
}
.Items-RR-table td i
{
  font-size: 20px;
  color: #00355F;
}
.Items-RR-table td
{
  font-size: 14px;
  padding:5px 10px;
  text-align: center;
  border-bottom: 1px solid black;
}
.form-rr-master
{
  display: flex;
  flex-direction:column;
}
.form-rr-master textarea
{
  height: 100px;
  resize: none;
  padding-left: 10px;
  font-size: 17px;
  margin-bottom: 10px;
}
.form-rr-master input
{
  margin-bottom: 10px;
  font-size: 16px;
  height: 30px;
  padding-left: 10px;
}
.RR-Form-container
{
  display:flex;
  min-height: 100vh;
  margin-top: 5px;
}
@media (max-width:1100px)
{
  .RR-Form-container
  {
    flex-direction: column;
  }
  .RRMaster-details-container
  {
    margin-left:0!important;
  }
}
.RRMaster-details-container
{
  margin-left: 15px;
  flex:1;
  background: #0078D7;
  padding:20px;
  -ms-filter: drop-shadow(-1px 4px 9px #1D1A33);
-webkit-filter: drop-shadow(-1px 4px 9px #1D1A33);
-moz-filter: drop-shadow(-1px 4px 9px #1D1A33);
-o-filter: drop-shadow(-1px 4px 9px #1D1A33);
filter: drop-shadow(-1px 4px 9px #1D1A33);
}
.rr-form-btns
{
  display: flex;
  width: 210px;
  margin:0 auto;
  justify-content:space-between;
}
.submit-btn-rr
{
  color: #fff;
  background: #00508F;
  border-style: none;
  padding:8px 12px;
  font-size: 15px;
  width: 100px;
}
.submit-btn-rr:hover
{
  background-color: #002847;
}
.cancel-btn-rr
{
  font-size: 15px;
  width: 100px;
  border-style: none;
  padding:8px 12px;
  color: #002847;
}
/*Search existing item RR CSS*/
.search-itemRR-Container
{
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  top:0;
  right: -300%;
  background:rgba(0, 0, 0, 0.9);
  overflow-x: auto;
}
.search-itemRR-Container.active
{
  right:0;
}
.search-RR-center
{
  width: 1040px;
  min-height: 300px;
  position: relative;
  margin:auto;
  background: #fff;
  padding:50px 20px;
  border-radius: 5px;
}
.searchboxes-div
{
  display: flex;
  justify-content: space-between;
}
.searchboxRR input
{
 border:1px solid #0078D7;
 height: 23px;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 padding-left: 5px;
 outline: none;
}
.searchboxRR
{
  display: flex;
}
.searchboxRR button
{
border:1px solid #0078D7;
 outline: none;
 border-style: none;
 background: #0078D7;
 color: #fff;
 height: 27px;
 width: 30px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
}
.searchboxRR button:hover
{
  background: #00508F;
}
.search-RR-center h1
{
  position: absolute;
  background: #0078D7;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #FFF;
  padding-top: 6px;
  box-sizing: border-box;
  border-radius: 50%;
  right: -7px;
  top: -7px;
}
.search-RR-center h1:hover
{
  background:#004275;
  transition: background .5s;
}
.table-RRresults-container
{
  margin-top: 10px;
}
.table-RRresults-container table
{
  border:1px solid #002847;
  font-family: verdana;
  width: 100%;
  background: #fff;
  -ms-filter: drop-shadow(1px 1px 6px #1D1A33);
-webkit-filter: drop-shadow(1px 1px 6px #1D1A33);
-moz-filter: drop-shadow(1px 1px 6px #1D1A33);
-o-filter: drop-shadow(1px 1px 6px #1D1A33);
filter: drop-shadow(1px 1px 6px #1D1A33);
}
.table-RRresults-container th
{
  background: #0078D7;
  padding:8px 12px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}
.table-RRresults-container td
{
  font-size: 14px;
  padding:10px 14px;
  text-align: center;
  border-bottom: 1px solid #002847;
}
.inputUC
{
width: 120px!important;
}
.add-toRRlist-btn
{
  padding:4px 8px;
  border-radius: 3px;
  color: #fff;
  border-style: none;
  outline: none;
  background: #0078D7;
  display: flex;
}
.add-toRRlist-btn:hover
{
  background: #00355F;
  color: #fff;
}
/*RRindex*/
.RR-index-container
{
  min-height: 100vh;
  padding:30px;
}
.index-RRtitle-container
{
  display: flex;
  justify-content: space-around;
}
.index-RRtitle-container h1
{
  font-family: verdana;
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #004275;
}
.index-RR-table-container
{
  overflow-x: auto;
}
.index-RR-table-container table
{
  width: 100%;
  font-family:sans-serif;
  background: #fff;
  border: 1px solid #002C4E;
}
.index-RR-table-container th
{
  font-weight: 600;
  text-align: center;
  padding:5px 10px;
  background: #0063B1;
  color: #fff;
  font-size: 16px;

}
.index-RR-table-container td
{
  text-align: center;
  font-size:17px;
  padding:20px 10px;
  border: 1px solid #002C4E;
}
.index-RR-table-container td i
{
  font-size: 20px;
  color: #004276;
}
.index-RR-table-container td i.index-decline
{
  color:red;
}
.RRempty
{
  text-align: center;
  font-family: verdana;
  color: #a1a1a1;
  font-size: 30px;
  font-weight: 600;
  margin-top: 140px;
}
/*PREVIEW RR CSS*/
.previewRR-Container
{
  min-height: 100vh;
  padding:60px;
  background-color: #e1e1e1;
}
.bondpaper-RR
{
  box-sizing: border-box;
  font-family:sans-serif;
  background: #fff;
  min-height: 1056px;
  width:816px;
  margin:auto;
  padding: 60px 30px 20px 30px;
  -ms-filter: drop-shadow(1px 1px 6px #1D1A33);
  -webkit-filter: drop-shadow(1px 1px 6px #1D1A33);
  -moz-filter: drop-shadow(1px 1px 6px #1D1A33);
  -o-filter: drop-shadow(1px 1px 6px #1D1A33);
  filter: drop-shadow(1px 1px 6px #1D1A33);
}
.signature-btn
{
  width: 816px;
  margin:auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom:5px;
}
.RRsignatureForm button:hover
{
  background: #002C4E;
}
.RRsignatureForm button
{
  background: #004276;
  color: #fff;
  border-style: none;
  transition: background .5s;
}
.Declined button
{
  margin-left: 5px;
  color: #fff;
  border-style: none;
  background:#AA0000;
  transition: background .5s;
}
.Declined button:hover
{
  background: #710000;
}
.print-RR-btn
{
  width: 816px;
  margin:auto;
  display: flex;
  margin-bottom:5px;
}
.print-RR-btn button
{
  padding:6px 12px;
  font-size: 15px;
}
.print-RR-btn button i
{
  color: red;
}
.signature-btn button
{
  padding:6px 12px;
  font-size: 15px;
}
.top-title-rr
{
  text-align: center;
  font-size: 15px;
}
.rr-titlebox
{
  border:1px solid black;
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  padding: 4px;
  font-weight: 600;
}
.right-date-rr
{
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content-right-rr li
{
  display: flex;
}
.content-right-rr > li label
{
  width: 60px;
}
.content-right-rr > li > h5
{
  width: 130px;
  text-align:right;
}
.RRmasters-details
{
  font-size: 15px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.RRmaster-left ul li,.RRmaster-right ul li
{
  display: flex;
  margin-bottom:4px;
}
.RRmaster-left label
{
  min-width: 100px;
}
.RRmaster-right label
{
  min-width: 160px;
}
.RRmaster-left ul li h4,.RRmaster-right h4
{
  min-width: 120px;
}
.RR-table-container
{
  margin-bottom: 100px;
}
.RR-table-container table
{
  width: 100%;
  margin-top: 20px;
}
.RR-table-container th
{
  font-size: 15px;
  text-align: center;
  padding:3px 4px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  font-family: sans-serif;
  font-weight: 600;
}
.left-side-th
{
  border-left: 1px solid black;
}
.right-side-th
{
  border-right: 1px solid black;
}
.RR-table-container td
{
  text-align: center;
  font-size: 13px;
  padding:2px 3px;
}
.RRNetsales-Total
{
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}
.netsales-total-content
{
  font-size: 14px;
}
.netsales-total-content li
{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.netsales-total-content li h4
{
  min-width: 100px;
  border:1px solid black;
  text-align: right;
  padding:4px;
}
.netsales-total-content li label
{
  width: 200px;
  border:1px solid black;
  padding:4px 8px;
}
.RRadded-VAT
{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.RRadded-VAT h5
{
  min-width: 100px;
  text-align: right;
}
.noteRR
{
  display: flex;
  margin-top: 30px;
  font-size: 14px;
}
.noteRR label
{
  width: 140px;
}
.bottom-signatures-rr
{
  display: flex;
  margin-bottom: 40px;
}
.signature-rr-left,.signature-rr-right
{
  flex:1;
}
.signature-rr-right
{
  position: relative;
}
.signatureRR-content i
{
  color:red;
  font-size: 30px;
}
.signatureRR-content h4
{
  text-transform:uppercase;
}
.signatureRR-content
{
  margin-top: 40px;
  text-align: center;
  position: relative;
}
.RRSignatures-container
{
  margin-top: 50px;
  font-size: 15px;
}
.signatureRR-content h2
{
  position: absolute;
  width: 150px;
  height: 50px;
  top:-55px;
  left: 115px;
}
.signatureRR-content h2 img,.signature-rr-right h2 img
{
  width: 100%;
}
.signature-rr-right h2
{
  width: 150px;
  height:50px;
  position: absolute;
  right: 115px;
  top:10px;
}
.RRoptions
{
  font-size: 15px;
  text-align:center;
  height: 40px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color:#1D1F25;
  padding-left: 10px;
}
.searchbox-formRR
{
  display: flex;
  margin-top: 40px;
}
.searchbox-formRR input
{
  border:1px solid #0078D7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-left: 5px;
  width: 200px;
  text-align: center;
}
.searchbox-formRR button
{
  outline: none;
  color: #fff;
  background: #0078D7;
  border-style: none;
  height: 30px;
  width: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.RRrequest-container
{
  min-height: 100vh;
}
.RRrequest-container
{
  padding:80px 30px 20px 30px
}
.no-RR
{
  font-size: 35px;
  font-weight: 600;
  color: #a1a1a1;
  text-align: center;
  font-family:verdana;
  margin-top: 120px;
}
.requestRR-table table
{
  border:1px solid #002847;
  width: 100%;
  font-family: sans-serif;
}
.requestRR-table th
{
  text-align: center;
  padding:6px 12px;
  background: #0078D7;
  color: #fff;
}
.requestRR-table td i
{
  color: #00508F;
  font-size: 20px;
}
.requestRR-table td
{
  text-align: center;
  padding:5px 10px;
  border-bottom: 1px solid #002847;
}
/*RV Create CSS*/
.RV-container
{
  min-height: 100vh;
}
.RV-wrapper
{
  display: flex;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  min-height: 100vh;
}
@media (max-width:1100px)
{
  .RV-wrapper
  {
    flex-direction: column;
  }
  .RVMaster-form
  {
    margin-left:0px!important;
  }
}
.added-items-table
{
  flex:3;
}
.added-items-table table
{
  width: 100%;
  font-family: sans-serif;
  border:1px solid #00508F;
  margin-bottom: 20px;
}
.added-items-table th
{
  text-align: center;
  background: #0078D7;
  color: #fff;
  padding:6px 12px;
}
.added-items-table td i
{
  font-size: 20px;
  color: #00508F;
}
.added-items-table td
{
  color: #00213B;
  text-align: center;
  padding:5px 10px;
  border-bottom: 1px solid #00508F;
}
.RVMaster-form
{
  flex:1;
  margin-left: 20px;
  background: #0063B1;
  padding:20px;
}
.RV-form
{
  display: flex;
  flex-direction: column;
}
.RV-form input,.RV-form select
{
  margin-bottom: 10px;
  height: 35px;
  font-size: 15px;
  padding-left: 10px;
}
.RV-form input
{
  height: 40px;
}
.add-item-RV
{
  display: flex;
  justify-content: flex-end;
}
.add-item-RV button
{
  outline: none;
  padding:10px 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  background: #00508F;
}
.title-RV
{
 display: flex;
 padding-left: 20px;
 padding-right: 20px;
 justify-content: space-between;
 padding-top: 20px;
 font-family:LATO;
 font-weight: 600;
 font-size: 20px;
 color: #00213B;
}
.autoselectedRV
{
  text-align: center;
  font-family:courier;
  font-size: 20px;
  margin-top: 100px;
  color: #fff;
}
.autoselectedRV p
{
  padding-top: 10px;
  border-top: 1px solid #fff;
}
.add-RV-item-modal
{
  background: rgba(0, 0, 0, 0.7);
  position:fixed;
  top: -200%;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  transition: top .5s;
}
.add-RV-item-modal.active
{
  top:0;
}
.rv-modal-centered
{
  background: #fff;
  height: 100vh;
  width: 600px;
  margin:auto;
}
@media (max-width:1100px)
{
  .rv-modal-centered
  {
    overflow-x: auto;

  }
}
.rv-modal-centered h1
{
 text-align: center;
 font-family: sans-serif;
 font-weight: 600;
 font-size: 20px;
 padding: 30px;
 background: #0063B1;
 color:#fff;
}
.itemRV-form
{
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 90px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.itemRV-form input,.itemRV-form select,.itemRV-form textarea
{
  margin-bottom: 20px;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
}
.itemRV-form textarea
{
  height: 90px;
  resize: none;
}
.buttons-RV-Item
{
  display: flex;
  margin:0 auto;
}
.buttons-RV-Item button
{
  padding:9px 14px;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 5px;
}
#closemodalRV:hover
{
  background: #c1c1c1;
}
#closemodalRV
{
  border-style: none;
  outline: none;
}
#addtolistRV
{
  color: #fff;
  background: #0063B1;
  border-style: none;
}
#addtolistRV:hover
{
  background:#00508F;
}
.submit-button-RV button
{
 width: 100%;
 margin-top: 150px;
 height: 40px;
 border-radius: 5px;
 background: #002C4E;
 color: #fff;
 border-style: none;
 font-size: 16px;
 letter-spacing: 1px;
 }
 .submit-button-RV button:hover
 {
   background: #001D34;
   transition: background .5s;
 }
/*RV INDEX*/
.RV-index-container
{
  min-height: 100vh;
  padding:30px;
}
.RV-index-table
{
  overflow-y: auto;
}
.RV-index-table table
{
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-family: lato;
}
.RV-index-table th
{
  font-weight: 600;
  color: #fff;
  padding:6px 12px;
  background: #0063B1;
}
.RV-index-table td i
{
  font-size: 20px;
  color: #004276;
}
.RV-index-table td
{
  font-size: 16px;
  padding:15px 10px;
  border: 1px solid black;
}
.rv-index-title h1
{
  font-family: lato;
  font-size: 20px;
  font-weight: 600;
  color: #00213B;
}
.top-RV-index
{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.searchbox-RV .search-form-rv
{
  display: flex;
}
.search-form-rv button
{
  outline: none;
}
.searchbox-RV input
{
  text-align: center;
  height: 25px;
  width: 200px;
  border:1px solid #0063B1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.searchbox-RV button
{
  padding:5px 10px;
  color: #fff;
  background:#0063B1;
  border-style: none;
  border:1px solid #0063B1;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
}
/*Full RV view CSS*/
.fullRV-container
{
  background: #e2e2e2;
  min-height: 100vh;
}
.bondpaper-RV-container
{
  padding-bottom: 30px;
  display: flex;
}
.declineOrSignatureBtn
{
  display: flex;
}
.RVapprove button
{
  background:#004276;
  border-style: none;
  padding:8px 5px;
  color: #fff;
}
.RVdecline button
{
  background: #AA0000;
  color: #fff;
  border-style:none;
  padding:8px 5px;
}
.declineOrSignatureBtn button
{
  margin-left: 5px;
}
.RV-signature-print-container
{
  width: 816px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 5px;
}
.RV-signature-print-container button
{
  padding:6px 12px;
  font-size: 16px;
}
.bondpaper-RV
{
  box-sizing: border-box;
  padding:70px 30px 30px 30px;
  margin:auto;
  min-height: 1057px;
  width: 816px;
  background: #fff;
  font-family:lato;
  position: relative;
}
.status-rv
{
  position: absolute;
  background: #0063B1;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 10px;
  right: 10px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  font-family:lato;
  font-weight: 600;
}
.status-rv.approved
{
  background: #00AA55;
}
.status-rv.declined
{
  background:#940000;
}
.status-rv i
{
  font-size: 30px;
}
.top-rv-contents
{
  text-align: center;
}
.top-rv-contents h6
{
  margin-top:4px;
  margin-bottom:8px;
}
.top-rv-contents h4
{
  font-size: 20px;
}
.RVdate-RVNo-container
{
  display: flex;
  justify-content: flex-end;
}
.RVdate-RVNo-container ul li
{
  display: flex;
}
.RVdate-RVNo-container ul li p
{
  width: 130px;
  border-bottom: 1px solid black;
}
.RVdate-RVNo-container ul li label
{
  width: 70px;
}
.to-gm-container
{
  margin-top: 20px;
}
.toGM-parag
{
  display: flex;
  justify-content: space-between;
}
.to-gm-container h3
{
  text-align: center;
  min-width: 200px;
  border-bottom: 1px solid black;
}
.full-RVtable
{
  margin-top: 30px;
}
.full-RVtable table
{
  border:1px solid black;
  width: 100%;
}
.full-RVtable th
{
  padding:3px 6px;
  font-weight: 600;
  border:1px solid black;
}
.full-RVtable td
{
  padding:3px 6px;
  border:1px solid black;
  text-align: center;
  border-bottom: none;
  border-top: none;
}
.certify-RV h3
{
  border:1px solid black;
  border-top: none;
  line-height: 20px;
}
.RVsignatures-container
{
  padding-top: 10px;
  border:1px solid black;
  border-top: none;
}
.top-signature-RV
{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.requestRV-content h6
{
  width: 150px;
  height: 50px;
  position: absolute;
  top:-60px;
  left: 20px;
}
.requestRV-content h6 img
{
  width: 100%;
}
.requestRV-content
{
  position: relative;
  margin-left: 100px;
  text-align: center;
  width:180px;
  margin-top:70px;
}
.requestRV-content p
{
  margin-bottom: 5px;
}
.bottom-RV-signatures
{
  border-top: 1px solid black;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.RVbottom-left-signature
{
  padding-left: 65px;
  text-align: center;
  position: relative;
}
.RVbottom-left-signature h6 img
{
  width: 100%;
}
.RVbottom-left-signature h6
{
  position: absolute;
  top: 55px;
  left: 135px;
  width: 150px;
  height: 50px;

}
.RVbottom-right-signature
{
  padding-top: 24px;
  padding-right: 20px;
}
.RVbottom-left-signature h4
{
  width:230px;
  border-bottom: 1px solid black;
  margin:0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
}
/*MY RV request CSS*/
.my-rv-container
{
  min-height: 100vh;
  padding: 30px;
  font-family:lato;
}
.RV-request-title
{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.rv-request-table table
{
    width: 100%;
    border:1px solid black;
}
.rv-request-table td i
{
  font-size: 20px;
  color: #004276;
}
.rv-request-table td
{
  padding:17px 10px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid black;
}
.rv-request-table th
{
  padding:8px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: #0063B1;
}
