

/*GLOBAL*/
.align-right
{
  text-align: right!important;
}
.bold
{
  font-weight: 600;
}
.color-blue
{
  color: #0078D7;
  font-weight: 600;
}
.align-left
{
  text-align: left!important;
}
/*home*/
.top-nav-container
{

  padding: 20px 200px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  background-color:#0063B1;
}
.left-nav-content img
{
  width: 100%;
}
.left-nav-content
{
  position:relative;
}
.right-nav-content
{
  display: flex;
}
.title-top
{
  margin:auto;
}
.title-top h1
{
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
}
@media (max-width:850px)
{
  .top-nav-container
  {
    padding: 20px 100px;
  }
}
@media (max-width:600px) {
  .top-nav-container
  {
    padding:20px 50px;
  }
}
.body-container
{
min-height: 100vh;
}
.new-search-container
{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #e4e4e4;
  padding: 0px 30px;
}
.new-item
{

  flex:1;
  display: flex;

}
.empty-left
{
  flex:3;
  display: flex;
}
.empty-left-btn > ul > li > h1
{
  background: #0063B1;
  padding:10px;
  color: #fff;
  display: flex;
  justify-content: space-between;

}
.empty-left-btn > ul > li:hover ul
{
  display: block;
}
.empty-left-btn > ul > li
{
  width:160px;
}
.empty-left-btn
{
  font-family: helvetica;
  font-size: 16px;
}
.empty-left-btn >ul
{
  display: flex;
}
.empty-left-btn ul li
{
  padding:10px;
}
.dropping
{
  width: 100%;
  display: none;
  background: #0063B1;

}
.dropping a
{
  text-decoration: none;
  color: #2A2D37;
}
.dropping li
{
  color: #fff;
}
.dropping li:hover
{
  background: #004276;
  transition: background .5s;
}
.dropping-parent,.dropping-summary
{
   position: relative;
   margin-top: 20px;
}
.dropping-summary
{
  position: relative;
}
.dropping-summary:hover ul
{
 display: block;
}
.dropping-summary ul
{
  position: absolute;
  width: 160px;
  display: none;
}
.dropping-summary ul a
{
  color: #fff;
  text-decoration: none;
}
.dropping-summary ul a li
{
  background: #0063B1;
  font-size: 15px;
}
.dropping-summary ul a li:hover
{
  background: #004276;
  transition: background .5s;
}

.search-box
{
  flex:1;
  margin:auto;
  margin-right:160px;
}
.search-box form
{
  display: flex;
}
.search-box input
{
  padding: 3px 6px;
  height: 22px;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 15px;
  outline: none;
  border-style:none;
  border:1px solid #0063B1;
}
.search-box button
{
  height: 30px;
  color: #0063B1;
  background: #fff;
  border-style: none;
  padding: 3px 6px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  background:#0063B1;

}
.search-box button:hover
{
  background: #5597CB;
}
@media (max-width:800px) {
  .empty-left
  {
    flex:1;
  }
  .search-box input
  {
    width: 150px;
  }
}
@media (max-width:500px) {
  .empty-left
  {
    flex:none;
  }
}
/*footer*/
.simple-footer h1
{
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  margin: auto;
}
.simple-footer
{
  height: 70px;
  background: #0063B1;
  display: flex;
}
.background-pic
{
  height:400px;
  width:1000px;
  margin-bottom: 20px;
  margin:0 auto;
  background-image:url('/DesignIMG/truck.jpg');
  background-position:100px -130px;
  background-repeat: no-repeat;
  z-index:4!important;
}
.data-results-container
{
  padding: 0px 40px 60px 40px;
  margin-top: 50px;
  overflow-x: auto;

}
.data-results-containertable th
{
  font-family:sans-serif;
  font-size: 20px;
}
.data-results-container table {
    border-collapse: collapse;
}

.latest-data table, .latest-data th, .latest-data td
{
    border: 1px solid #5597CB;
    padding: 10px 20px;
}
.data-results-container table
{
  width: 100%;

}
.latest-data th
{
  font-family: helvetica;
  font-size: 17px;
  font-weight: 600;
  background: #0063B1;
  color: #fff;
}
.data-results-container td
{
  color: #383B44;
  font-size: 14px;
  font-family:lato;
  text-align: center;
}
.history-found th
{
  font-family: helvetica;
  font-size: 17px;
  font-weight: 600;
  background: #e4e4e4;
  color:#484343;
}
.history-found table, .history-found th, .history-found td {
    border: 1px solid #858181;
    padding: 10px 20px;
}
.history-found
{
  margin-top: 60px;
}
.history-found h1
{
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  color: #2A2D37;
}
@media (max-width:900px) {
  .data-results-container
  {
    padding:0px 20px;
  }
}
/*add or take*/
.small-choices
{
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;

}
.small-choices-btns
{
  flex:1;

}
.Current-title
{
  display: flex;
  flex:2;
  font-family: sans-serif;
  font-size: 20px;
  color: #2A2D37;
}
.empty-space
{
  flex:1;
}
.Current-title h1
{

margin:auto;

}
.small-choices button
{
  margin-top: 10px;
  margin-left: 10px;
  padding:10px 18px;
  font-family:helvetica;
  font-weight: 600;
  border-style: none;
  color: #fff;
  border-radius: 5px;
  background: #0063B1;
  outline:none;
  width: 80px;

}
.small-choices button:hover
{
  background: #1F76BB;
  transition:background .5s;
}

/*add-new-item modal*/
.add-new-modal
{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  top:0;
  right: -200%;
  display: flex;
  transition: right .5s;
  z-index: 6;
}
.add-new-modal.active
{
  right:0;
}
.new-modal-box
{
  margin:auto;
  width: 600px;
  height: 100vh;
  background-color:#fff;
  overflow-y: auto;

}
.new-modal-title
{
  height: 80px;
  width: 100%;
  background-color:#0063B1;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  color: #fff;

}
.new-modal-title h1
{
  margin: auto;
}
.form-new-item table tr
{
    display: flex;
    float: left;
    margin-bottom: 20px;
}
.form-new-item th
{
  width: 300px;
  font-family: lato;
  float: left;
  margin: auto;
}
.form-new-item,.form-new-item table
{
  width: 100%;
  height:100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.add-new-item-form
{
  height: 400px;
}

.form-new-item input
{
  height: 20px;
  width: 200px;
}
.form-new-item select
{
  height: 25px;
  color:#2A2D37;
  font-weight: 600;
  font-family: lato;
  outline: none;
}
.form-new-item textarea
{
  height: 100px;
  width: 200px;
  resize: none;
}
.submit-bottons-newitem-container
{
  display: flex;
}
.submit-bottons-new
{
  flex:2;
}
#cancel-btn
{
  border-style: none;
  padding: 8px 20px;
  background:#808080;
  color:#fff;
  width: 80px;
}
#go-create
{
  background: #0063B1;
  color: #fff;
  border-style: none;
  padding: 8px 20px;
  width: 80px;
}
.submit-bottons-new button
{
  padding:6px 12px;
}
.empty-submit
{
  flex:3;
}
/*MAKE MIRS*/
.mirs-container h1
{
  text-align: center;
  font-family: helvetica;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
  color:#0063B1;
}
.mirs-container
{
    height: 100vh;
}
/*MODAL FOR ALL NOTICE*/
.modal-for-all-notice
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 16;
  display: none;
}
.modal-for-all-notice.active
{
  display: block;
  display: flex;

}
.center-notice-div
{
  margin:auto;
  background: #fff;
  width:300px;
  border-radius: 10px;

}
.center-notice-div ul li
{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
}
.notice-title
{
  background: #0063B1;
  color:#fff;
  display: flex;
  justify-content:space-between;
  padding: 10px;
}
/*MCT CSS*/
.MCT-CONTAINER
{
  min-height: 100vh;
  display: flex;
}
@media (max-width:1250px)
{
  .MCT-CONTAINER
  {
    flex-direction: column;
  }
}
.MCTform-container
{
  flex:1;
  padding:80px 30px;
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  background:#0063B1;;
}
.MCTform-container form
{
  flex:1;
}
.MCTform-container .instructions
{
  flex:2;
}
.MCTform-container form ul
{
  display: flex;
  flex-direction: column;

}
#go-btn
{
  background: #004276;
  color: #fff;

}
#go-btn:hover
{
background-color:#002C4E;
}
.submitMCT-btn button
{
  margin-right: 10px;
  border-style: none;
  padding:8px 16px;
  font-family: sans-serif;
}
.submitMCT-btn
{
  display: flex;
  justify-content: flex-start;
  margin:0 auto;
}
.MCTform-container form ul li input
{
width: 96%;
 height: 30px;
 margin-bottom: 10px;
 padding-left: 5px;
 font-size: 15px;
 color: #2A2D37;
}
.Search-item-container
{
  padding: 30px;
  flex:3;
}

@media (max-width:500px) {
  .Search-item-container
  {
    padding: 10px;
  }

}
.Added-Items
{
  display: flex;
  overflow-x:auto;
  flex-direction: column;
}
.added-table-wrapper
{
  min-height:595px;
  min-width:905px;
}
.added-table-wrapper table
{
  margin:auto;
  width: 100%;
  background: #fff;
  border: 1px solid #002847;
}
.added-table-wrapper td
{
  text-align: center;
}
.added-table-wrapper tr,.added-table-wrapper th,.added-table-wrapper td
{
  border-bottom: 1px solid #004276;
  padding: 10px 20px;
}

.added-table-wrapper th
{
  background: #0078D7;
  color: #fff;
  font-family: sans-serif;
  border: 1px solid #004276;
}
.added-table-wrapper td
{
  font-family: sans-serif;
  font-size: 15px;
  color: #2A2D37;
}
.delete-trash i
{
  text-decoration: none;
  font-size: 20px;
  color: #23262E;
}
.delete-trash i:hover
{
  color:#004276;
}
.modal-find-button
{
  display: flex;
  justify-content: flex-end;

}
.modal-find-button button
{
  background: #32C24D;
  border-style: none;
  color: #fff;
  padding: 10px 20px;
  font-size:15px;
  margin-bottom: 10px;
  border-radius: 5px;

}
.modal-find-button button:hover
{
  background: #218133;
  transition: background .5s;
}
.modal-search-item
{
  position: fixed;
  background:rgba(0, 0, 0, 0.9);
  height: 100vh;
  top:0;
  width: 100%;
  display: none;
  overflow-x: auto;

}
.modal-search-item.active
{
  display: block;
  display: flex;
  z-index: 15;

}
.middle-modal-search
{
  margin:auto;
  width: 1000px;
  background: #fff;
  border-radius: 5px;
  padding: 20px 20px 50px 20px;
  position: relative;
}
.middle-modal-search h5
{
  position: absolute;
  background: #e3e3e3;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  right: -10px;
  top: -10px;

}

.search-item-bar form
{
  display: flex;
  justify-content: flex-end;
}
.search-item-bar form input
{
  padding: 5px;
}
.modal-search-results
{
  height: 100%;
}
.modal-search-results table
{
  width:100%;
  margin-top: 20px;
  overflow-y: auto;
  margin-top:20px;
}
.modal-search-results table
{
  border: 1px solid #5597CB;
}
.modal-search-results table,.modal-search-results tr, .modal-search-results th, .modal-search-results td
{
  border-bottom: 1px solid #5597CB;
  padding: 10px 20px;
  font-family: sans-serif;
}
.modal-search-results td
{
  text-align: center;
  color: #2A2D37;
}
.modal-search-results th
{
  background:#004276;
  color:#fff;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
tr td input[type="number"]
{
  width: 50px;
}

/*MIRS PREVIEW*/
.printable-view-container
{
  display: flex;
  background: #e3e3e3;
  overflow-x: auto;
}
.printable-paper
{
  margin:auto;
  width: 1000px;
}
.bondpaper-size
{
  height: 1056px;
  width: 816px;
  margin:0 auto;
  background: #fff;
  margin-bottom: 30px;
}
.status-mirs
{
  position: absolute;
  top: 30px;
  right: 20px;
  font-family:'Comfortaa', cursive;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  color:#fff;
  background: #0063B1;
}
.status-mirs h1 i
{
  font-size: 25px;
}
.status-mirs.approved
{
  color: #fff;
  background:#1D9F60;
}
.status-mirs h1
{
  margin: auto;
  font-family:'Comfortaa', cursive;
  font-size: 15px;
  font-weight: 200;
}
.top-part-box1
{
  text-align: center;
  padding-top: 30px;
  position: relative;
}

.top-part-box1 h2
{
  margin-top: 25px;
  font-size: 18px;
  text-decoration: underline;
    font-family: sans-serif;
}
.top-part-box1 h1
{
  font-family:sans-serif;
  font-weight: bold;
}
.top-part-box1 h4
{
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.top-part-box2
{
  display: flex;
  margin-top: 20px;
  justify-content:space-between;
}
.top-box2-right
{
  font-family: helvetica;
  font-size: 14px;
  margin-right: 80px;
}

.mirs-id
{
   border:1px solid red;
   padding: 20px;
}
.top-box2-right-data
{
  flex:1;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-bottom: 7px;
}
.top-box2-right-data h1
{
  min-width: 160px;
  padding: 3px 6px;
  border-bottom: 1px solid black;
  font-size: 13px;
}
.top-box2-right-data label
{
  padding: 3px 6px;
  text-align: right;
  width: 100%;
}
.top-part-box3
{
  display: flex;
  justify-content: space-between;
  padding:20px 80px;
}
.top-part-box3 p
{
  font-family: helvetica;
  font-size: 14px;
}
.top-part-box3 h2
{
  width: 240px;
  display: flex;
  font-family: helvetica;
  font-size: 14px;
  font-weight: 600;
}
.purpose-container
{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.mirs-details-container
{
  padding: 20px 80px;
}
.table-mirs-container table
{
  width: 100%;
  font-family: lato;
  border-bottom: 1px solid black;
}

.table-mirs-container th
{
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.noborder-left
{
  border-left: none!important;
}
.noborder-right
{
  border-right: none!important;
}

.table-mirs-container td
{
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding:10px 2px;
  font-size: 14px;
}
.table-mirs-container .particular
{
  text-align:left;
}
.statement-container
{
  border-left:1px solid black;
  border-right:1px solid black;
  padding-left: 5px;
}
.statement-container p
{
  font-family:sans-serif;
  font-size: 13px;

}
.request-recommend-sig
{
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
}
.recommend-sig h3
{
  position: absolute;
  bottom:25px;
}
.recommend-sig h3 img
{
  width: 100%;
}

.bottom-mirs-part
{
  border-left:1px solid black;
  border-right:1px solid black;
  border-top: 1px solid black;
  padding-top: 15px;
}

.request-sig h2,.recommend-sig h2,.president-sig h2
{
  line-height: 21px;
  font-size: 14px;
}
.request-sig h4,.recommend-sig h4,.president-sig h4
{
  margin-bottom: 40px;
  font-size: 14px;
}
.request-sig h3 img
{
  width: 100%;
}
.request-sig h3
{
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 35px;
}
.recommend-sig,.request-sig
{
  text-align: center;
  position: relative;
}
.president-sig
{
  padding-top: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  position: relative;
}
.president-sig h3 img
{
 width: 100%;
}
.president-sig h3
{
  width: 150px;
  height: 50px;
  position:absolute;
  bottom: 35px;
  left: 230px;
}
.table-mirs-container
{
  height:500px;
  border: 1px solid black;
}
.print-btn-container
{

  width: 816px;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.print-btn-container button
{
  padding: 6px 12px;
}
.print-btn-container .download-form button i
{
  font-size: 20px;
  color: red;
}
.searchMIRSNo
{
  display: flex;
}
.searchMIRSNo input
{
  padding-left: 5px;
}
.searchMIRSNo button i
{
  color: #004276;
}
.print-btn-container h1
{
  font-family: lato;
  font-size: 15px;
  color: #004276;
}
.middle-status
{
  padding: 5px;
  display: flex;
  margin-right: 45px;
  width: 150px;
}
#accepted
{
  border-style: none;
  background-color:#004276;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  width: 100px;
}
#accepted:hover
{
  background: #002C4E;
  transition:background .5s;
}
#not-accepted
{
  border-style: none;
  background-color:#AA0000;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  width: 100px;
}
#not-accepted:hover
{
  background: #710000;
  transition:background .5s;
}
/*MCT-MODAL*/
.MCT-modal
{
  position:fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  top: -400%;
  transition: top .5s;
}
.MCT-modal.active
{
  top:0;
}
.MCT-form
{
  margin:auto;
  height: 500px;
  width: 500px;
}

.title-mct-form h1
{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
}
.title-mct-form
{
  background: #0063B1;
  height: 100px;
  margin-top: 0;
  padding-top:50px;
  box-sizing: border-box;
}
.form-content-mct form
{
  display: flex;
  flex-direction: column;

}
.form-content-mct
{
  margin-top: 80px;
}
.form-content-mct input
{
  margin:auto;
  height: 30px;
  width: 300px;
  padding-left: 10px;
}
.mct-form-buttons
{
  display: flex;
  justify-content:space-around;
  width: 140px;
  margin:auto;
  margin-top: 20px;
}
.mct-form-buttons button
{
  padding:6px 10px;
  color: #1D1F25;
}
/*button towards MCT-preview*/
.MCT-link-btn button
{
  font-family: helvetica;
  font-size: 14px;
  color: #1D1F25;
}
.MCT-link-btn button i
{
  color: #0063B1;
  font-size: 17px;
}
/*Button to MRT form*/
.Create-MRT-btn form button i
{
  color: green;
  font-size: 17px;
}
.mrt-done
{
  position: relative;
}
.eyesicon
{
  color: #0078D7!important;
}
/*MCT PREVIEW css*/
.Preview-MCT-container
{
  background-color:#e3e3e3;
  padding-bottom: 35px;
  overflow-x: auto;
}

.bondpaper-preview
{
  height: 1056px;
  width: 816px;
  margin:0 auto;
  background: #fff;
  margin-bottom: 30px;
  padding: 50px 20px 10px 20px;
  box-sizing: border-box;
}

.print-MCT-wrap
{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin:auto;
  width: 1000px;
}
.print-MCT-wrap button
{
  padding:6px 12px;
  font-family: helvetica;
}
.print-MCT-wrap button i
{
  color:red;
  font-size: 20px;
}
.MCT-title h1
{
  padding-top: 10px;
}
.MCT-title
{
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 816px;
  margin: 0 auto;
  margin-bottom: 10px
}
.bond-center-titles
{
  text-align: center;
  font-family: sans-serif;
  position: relative;
}
.bond-center-titles img
{
  width:70px;
  height: 70px;
  position: absolute;
  top:-20px;;
  left: 160px;
}
.bond-center-titles h1
{
  font-size: 16px;
}
.bond-center-titles h5
{
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 14px;
}

.bond-center-titles h2
{
  font-size: 16px;
  font-weight: 600;
}
.MCTMaster-details
{
margin-top: 34px;
display: flex;
 padding: 10px;
 justify-content: space-between;
 font-family:sans-serif;
 font-size: 15px;
 margin-bottom:15px;
}
.MCTmaster-left ul li
{
  display: flex;
  margin-bottom: 5px;
}
.MCTmaster-right ul li
{
  display: flex;
  margin-bottom:3px;
}

.MCTmaster-right ul li label,.MCTmaster-left ul li label
{
  width: 100px;
}
.TicketDetail-table
{
  height: 413px;
}
.TicketDetail-table table
{
  width: 100%;

}
.TicketDetail-table th
{
  border:1px solid black;
  padding:1px 2px;
  font-family: helvetica;
  font-size: 13px;
  font-weight: 600;
}
.TicketDetail-table td
{
  text-align: center;
  padding:2px 4px;
  font-family:sans-serif;
  font-size: 12px;
  min-width: 60px;
}
.total-result
{
  font-family:lato;
  font-size: 14px;
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 58px;
}
.total-result h1
{
  border:1px solid black;
  width: 90px;
  padding: 5px;
}
.total-result h2
{
  padding:5px;
  width: 120px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.total-result h2
{
  text-align:right;
}
.total-result h1
{
  text-align: center;
}
.totalcost-mct
{
  margin-top:5px;
  height: 195px;
  position: relative;
}
.totalcost-mct ul li
{
  font-family: lato;
  font-size: 13px;
  display: flex;
  width: 200px;
  padding: 3px 13px;
  justify-content:space-between;
}
.signatures-mct-preview
{
  margin-top: 40px;
  display: flex;
  justify-content:space-between;
  font-family: lato;
}
.issuedby-data
{
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
  font-family: lato;
  margin-bottom:4px;
  font-size: 14px;
  position: relative;
}
.mct-signature-right
{
  width:288px;
}
.recievedby-data
{
  width: 187px;
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 14px;
  position: relative;
}
.recievedby-data h1,.issuedby-data h1
{
  margin-bottom: 8px;
}
.signature-issued
{
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 35px;
}
.signature-issued img,.signature-recieved img
{
  width:100%;
}
.signature-recieved
{
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 30px;
}
/*PAGINATION*/
.pagination
{
  display: flex;
  list-style: none;
  width: 300px;
  margin:0 auto;
  margin-top: 40px;
  font-family: lato;
}
.pagination li.active
{
  background: #00508F;
  color: #fff;
}
.pagination li a
{
  text-decoration: none;
  color:#00213B;
}
.pagination li
{
  background: #e3e3e3;
  margin:auto;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
}
/*MRT-MODAL-CSS*/
.MRT-container
{
  display: flex;
}

.MRT-middle-form
{
  background:#0063B1;
  flex:1;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.mrt-form
{
  margin-top: 50px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}
.mrt-form input
{
  padding-left:5px;
  width: 100%;
  height: 32px;
  margin:0 auto;
  margin-bottom: 10px;
  font-size: 15px;
}
.mrt-btns
{
  margin:auto;
}
.mrt-btns button
{
  padding: 8px 12px;
  border-style: none;
  width: 80px;
  border:1px solid #00508F;
}
.mrt-cancel
{
  color: #00508F;
  background: #e7e7e7;
}
.mrt-gobtn
{
 background: #004276;
 color: #fff;
}
.mrt-gobtn:hover
{
  background:#002847;
}
.List-items-mrt
{
  height: 600px;
  flex:3;
  padding:25px;
  box-sizing: border-box;
}
.items-form
{
 display: flex;
 flex-direction: column;
 flex:1;
}
.box-MRT-qty
{
  flex:1;
}
.items-from-mct table
{
  width: 100%;
  font-family: sans-serif;
  border: 1px solid black;
}
.items-from-mct td
{
  text-align: center;
  padding:6px 12px;
  font-size: 13px;

}
.items-from-mct td i
{
  font-size: 20px!important;
  color: #0078D7;
}
.items-from-mct td i:hover
{
  color: #002847;
}
.items-from-mct th
{
  border:1px solid black;
  padding: 6px 12px;
  font-weight: 600;
  color: #fff;
  background: #0078D7;

}
.pick-from-items
{
  display: flex;
  justify-content:space-between;
}
.pick-from-items h1
{
  font-family: sans-serif;
  font-size: 25x;
  font-weight: 600;
}
.pick-from-items button
{
  padding:6px 12px;
  margin-bottom: 5px;
}
.mrt-items-modal
{

  height: 100vh;
  width: 100%;
  position: fixed;
  top: -300%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  transition: top .5s;
}
.mrt-items-modal.active
{
  top: 0;
}
.mrt-items
{
  min-height: 430px;
  min-width: 800px;
  margin:auto;
  background: #fff;
  padding: 5px;
  position: relative;
}
.mrt-items table
{
  width: 100%;
  font-family: sans-serif;
  border: 1px solid black;
}
.mrt-items th
{
  padding: 6px 12px;
  font-size: 15px;
  border:1px solid black;
  background: #0078D7;
  color:#fff;
}
.mrt-items td
{
  text-align: center;
  padding: 6px 12px;
  font-size: 13px;
  border-bottom: 1px solid black;
}
.mrt-items h1
{
  position: absolute;
  right:-10px;
  top: -10px;
  height: 30px;
  width: 30px;
  border-radius:50%;
  background: #e3e3e3;
  text-align: center;
  padding-top:7px;
  box-sizing: border-box;
  font-size: 14px;
}
.mrt-items h1:hover
{
  background: #AAAAAA;
}
/*MIRS-gridview*/
.search-mirs-container input
{
  padding:6px 12px;
  border: 1px solid #0078D7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}
.search-mirs-container button
{
  outline: none;
  padding:6px 12px;
  border: 1px solid #0078D7;
  background: #0078D7;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}
.search-mirs-container button:hover
{
  background-color: #00508F;
}
.Title-MIRS-Index
{
  font-size: 25px;
  font-family:sans-serif;
}
.table-mirs-list
{
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.table-mirs-list table
{
  width: 100%;
  border: 1px solid black;
  font-family: sans-serif;
}
.grid-mirs-container
{
  padding-bottom: 30px;
  min-height:100vh;
}
.table-mirs-list td i
{
  color: #0078D7;
  font-size: 20px;
}

.table-mirs-list td
{
 text-align: center;
 font-size: 14px;
 border-bottom: 1px solid black;
 padding:10px 15px;
}
.table-mirs-list th
{
  color: #fff;
  background: #0078D7;
  font-size: 16px;
  font-weight: 600;
  padding:6px 12px;
}
.top-wrap-index-mirs
{
  display: flex;
  justify-content: space-around;
  padding:30px;
}
/*MRT preview*/
.Summary-MRT-Container
{
  min-height: 100vh;
  background: #e4e4e4;
}
.search-mrt-summary
{
  display: flex;
  max-width: 814px;
  padding-top: 20px;
  flex-wrap: wrap;
  margin:0 auto;
  justify-content: space-between;
}
.search-mrt-summary h1
{
 text-align: center;
 font-family: helvetica;
 font-size: 25px;
 color: #002847;
}
.print-mrt-summary button
{
  padding:6px 12px;
  font-family: verdana;
}
.print-mrt-summary button i
{
  color: red;
}
.print-mrt-summary
{
  position: absolute;
  top: -40px;
  left: 0;
}
.searchbox-summary-mrt
{
  display: flex;
}
.searchbox-summary-mrt input
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 6px 12px;
}
.searchbox-summary-mrt input,.searchbox-summary-mrt>button
{
 border: 1px solid #0078D7;
 outline: none;
}
.searchbox-summary-mrt>button
{
  background:#0078D7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.bondpaper-sample-mrt
{
  background: #fff;
  width: 816px;
  min-height:1057px;
  margin:0 auto;
  padding:70px 60px 10px 60px;
  box-sizing: border-box;
  position: relative;
}
.results-summary-mrt
{
  padding-top:50px;
  padding-bottom:50px;
  overflow-x: auto;
}
.header-summary
{
  display: flex;
}
.header-summary-content
{
 margin:auto;
 text-align: center;
 font-size: 14px;
 font-family:verdana;
 position: relative;
}
.header-summary-content h3
{
  margin-bottom: 20px;
}
.header-summary-content h2,.header-summary-content h4
{
  margin-bottom: 3px;
}
.header-summary-content img
{
  width: 75px;
  height: 75px;
  position: absolute;
  left: -80px;
  top:-20px;
}
.body-summary-mrt
{
  padding-top: 50px;
  min-height:439px;
}
.body-summary-mrt table
{
  width: 100%;
  font-family: verdana;
   font-size: 14px;
}
.body-summary-mrt th
{
 border:1px solid black;
 padding:3px 6px;
 font-weight: 600;
}
.body-summary-mrt td
{
  text-align:left;
  padding:3px 6px;
}
.reciever-signature
{
  font-family:verdana;
  margin-top: 40px;
}
.reciever-signature h3
{
  font-size: 13px;
}
.recievers-name h4
{
  font-size: 14px;
  text-decoration:underline;
}
.recievers-name
{
  margin-left:60px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  width: 250px;
  position: relative;
}
.recievers-name h5 img
{
  width: 100%;
}
.recievers-name h5
{
  height: 50px;
  width: 150px;
  position: absolute;
  top:-45px;
  left: 48px;
}
.recievers-name p
{
  font-size: 13px;
}
/*MRT VIEWER*/
.MRT-viewer-container
{
  min-height: 100vh;
  background: #e4e4e4;
  padding-top: 70px;
  padding-bottom: 70px;
}
.Bondpaper-mrt-preview
{
  padding: 60px 25px 10px 25px;
  margin:0 auto;
  height: 1056px;
  width: 816px;
  background: #fff;
}
.header-mrt-center
{
  text-align: center;
  font-family: verdana;
  font-size: 15px;
}
.address-mrt
{
  margin-bottom: 10px;
}
.header-mrt-center h3
{
  font-weight: 600;
}
.left-right-mrt
{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.mrt-info label
{
 width: 100px;
}
.mrt-info
{
  display: flex;
  margin-bottom: 5px;
  font-family: verdana;
  font-size: 14px;
}
.mrt-table-viewer table
{
  width: 100%;
  margin-top: 20px;
  font-family: verdana;
}
.mrt-table-viewer th
{
  text-align: center;
  border:1px solid black;
  font-weight: 600;
  font-size: 14px;
}
.mrt-table-viewer td
{
  text-align: left;
  padding:3px 6px;
  font-size: 13px;
}
.mrt-table-viewer
{
 min-height:360px;
}
.total-mrt-flex
{
  display: flex;
  font-family: verdana;
  font-size: 14px;
}
.total-mrt-flex h3
{
  border:1px solid black;
  padding:3px 6px;
  width: 200px;
  text-align: center;
}
.total-mrt-flex h4
{
  border:1px solid black;
  padding:3px 6px;
  width: 140px;
  text-align: right;
}
.total-mrt-info
{
  display: flex;
  justify-content: flex-end;
}
.mrt-returnby-receivedby-container
{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: verdana;
  font-size: 14px;
}
.mrt-bottom-data{
  text-align: center;
  margin-left: 70px;
  margin-top: 20px;
}

.summary-mct-container
{
 min-height: 100vh;
 background: #e4e4e4;
 padding-top: 30px;
 padding-bottom: 30px;
}
.landscape-bondpaper-mct
{
  background: #fff;
  height:816px;
  width:1077px;
  margin:0 auto;
  padding: 20px;
}
.top-titles-mctSum
{
  display: flex;
  margin-bottom: 20px;
}
.top-titles-mctSum img
{
  width: 60px;
  height: 60px;
}
.titles-mct-content
{
  font-family:verdana;
  font-size: 14px;
}
.address-mct-summary
{
  margin-bottom: 22px;
}
.mct-summary-table table
{
  width: 100%;
  font-family:verdana;
}
.mct-summary-table th
{
  text-align: center;
  border:1px solid black;
}
.mct-summary-table td
{
  text-align: left;
  padding:3px 6px;
  font-size: 13px;
}
.monthof
{
  text-align: right!important;
  border-right: none!important;
}
.month
{
  text-align: left!important;
  border-left: none!important;
  padding-left: 5px;
}
.MCTSummaryForm
{
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  max-width: 1120px;
  padding-bottom: 10px;
}
.mct-sum-search
{
  display: flex;
}
.mct-sum-search input
{
  border: 1px solid #0078D7;
  padding:5px 12px;
  border-bottom-left-radius: 5px;
  border-top-left-radius:5px;
}
.mct-sum-search button
{
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  background: #0078D7;
  color: #fff;
  border-style: none;
}
.bondpapercontainer-mct
{
  overflow-x: auto;
}
.print-summary-mct-btn i
{
  color: red;
}
.print-summary-mct-btn button
{
  padding:6px 12px;
}
.login-container
{
  min-height: 100vh;
    background: #e4e4e4;
}

.body-login-container
{
  display: flex;
  height: 100vh;
}
.box-form-login h1
{
  font-size: 15px;
  font-weight:600;
  font-family:sans-serif;
  color: #fff;
  text-align: center;
}
.box-form-login
{
  padding: 20px;
  box-sizing: border-box;
  background: #0063B1;
  margin:auto;
  height: 200px;
  width: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -ms-filter: drop-shadow(-4px 3px 20px #1D1A33);
-webkit-filter: drop-shadow(-4px 3px 20px #1D1A33);
-moz-filter: drop-shadow(-4px 3px 20px #1D1A33);
-o-filter: drop-shadow(-4px 3px 20px #1D1A33);
filter: drop-shadow(-4px 3px 20px #1D1A33);
}
.login-form
{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.login-form input
{
  border-radius: 5px;
  padding-left: 5px 10px;
  font-size: 14px;
  width: 220px;
  margin:0 auto;
  margin-bottom: 15px;
  text-align: center;
  height: 20px;
  color: #2A2D37;
}
.login-form button
{
  width: 100px;
  margin:0 auto;
  border-style: none;
  background: #32C24D;
  border-radius: 5px;
  color: #fff;
  padding: 6px 5px;
}
/*REGISTRAION CSS*/
.Registration-container
{
  background: #e4e4e4;
  min-height: 100vh;
  display: flex;
}
.straight-form
{
  display: flex;
  flex-direction: column;
}
.registration-form
{
  width: 600px;
  margin:auto;
  min-height: 550px;
  display: flex;
  background-color: #0078D7;
  border-radius: 5px;
  -ms-filter: drop-shadow(-4px 1px 20px #1D1A33);
-webkit-filter: drop-shadow(-4px 1px 20px #1D1A33);
-moz-filter: drop-shadow(-4px 1px 20px #1D1A33);
-o-filter: drop-shadow(-4px 1px 20px #1D1A33);
filter: drop-shadow(-4px 1px 20px #1D1A33);
}
.registration-form h1
{
  position: absolute;
  font-size: 25px;
  font-family:verdana;
  top:-60px;
  left: 90px;
  color: #fff;
}
.form-user-info
{
  position: relative;
  font-size: 16px;
  font-family: verdana;
  margin: auto;
  box-sizing: border-box;
}
.straight-form select
{
  margin:auto;
  width: 300px;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
  margin-bottom: 10px;
  outline: none;
}
.straight-form input
{
margin:auto;
width: 293px;
border-radius: 5px;
height: 32px;
font-size: 15px;
padding-left: 5px;
margin-bottom: 10px;
outline: none;
color: #23262E;
border-style: none;
border:1px solid #A0A0A0;
}
.straight-form input[type="file"]
{
  border:none!important;
}
.straight-form button
{
  padding:10px 20px;
  width: 100px;
  font-size: 15px;
  margin: 0 auto;
  border-style: none;
  color: #fff;
  background: #00508F;
  border-radius: 3px;
}
.straight-form button:hover
{
 background: #00355F;
}
.burger-button
{
  position: absolute;
  left: -100px;
  top: 25px;
  box-sizing: border-box;
  font-size: 16px;
}
.left-nav-content button
{
 padding: 20px;
 background: #00508F;
 color: #fff;
 border-style: none;
}
.Account-modal
{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -200%;
  z-index: 16;
  background: rgba(0, 0, 0, 0.5);
  transition: left .5s;

}
.Account-modal.active
{
  left: 0;
}
.middle-account-modal
{
 background: #fff;
 height: 500px;
 width: 300px;
 font-family:sans-serif;
}
.middle-account-modal > ul >li >i
{
  position: absolute;
  right: 5px;
  top: 0;
}
.middle-account-modal > ul >li >i:hover
{
  color: #002847;
}
.middle-account-modal ul > li
{
  position: relative;
  text-align:left;
  font-size: 20px;
  font-weight: 600;
  padding:40px 20px;
  background: #0078D7;
  color: #fff;

}
.middle-account-modal ul a
{
  text-decoration: none;
  color: #002847;
}
.middle-account-modal ul a li h1
{
  width:30px;
}
.middle-account-modal ul a li
{
  text-align:left;
  padding: 10px 20px;
  font-size:16px;
  border-bottom: 1px solid #e1e1e1;
}
.middle-account-modal ul a li:hover
{
  background: #0078D7;
  color: #fff;
  transition: background .5s;
}
.middle-account-modal ul a li:hover span
{
  color: #fff;
}
.navnotif
{
  width: 100px;
}
